[Unit]
Description=Firebolt Media Player Service - instance name = %I
After=dbus.socket wpeframework.service
Requires=dbus.socket
Requisite=wpeframework.service
StartLimitIntervalSec=0

[Service]
UMask=0077
Type=notify
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/dbus/system_bus_socket
Environment="PATH=$PATH:/usr/bin"
Environment="nexus_ipc_dir=/var/run/nxserver"
ExecStart=/container/FIREBOLTMEDIAPLAYER/launcher/firebolt-media-player.sh start ${CMD%i}
# stop for container launch case
ExecStop=/usr/bin/container_rdk_service_stop.sh FIREBOLTMEDIAPLAYER 2
ExecStartPost=/usr/bin/cpid -m appstart -p $MAINPID -n "/usr/bin/WPEProcess" -i %i -t 10000
ExecStopPost=/usr/bin/cpid -m appstop -i %i
KillMode=none
Delegate=yes
